{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content={{title}}>
    <meta name="author" content="Nick Martin - Tharsus">
    
    <link rel="shortcut icon" href="{% static "inference/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "inference/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "inference/styles.css" %}">
    <title>Part Scanner</title>
</head>
<body>
    <h1>
        WS Test
    </h1>
</body>
<script src="{% static "inference/jquery.min.js" %}"></script>
<script src="{% static "inference/popper.min.js" %}"></script>
<script src="{% static "inference/bootstrap.min.js" %}"></script>
<script src="{% static "inference/vue.min.js" %}"></script>
<script src="{% static "inference/index.js" %}"></script>
</html>